
@font-face {
    font-family: 'afta_serifregular';
    src: font_url('afta_serifregular.eot');
    src: font_url('afta_serifregular.eot?#iefix') format('embedded-opentype'),
         font_url('afta_serifregular.woff') format('woff'),
         font_url('afta_serifregular.ttf') format('truetype'),
         font_url('afta_serifregular.svg#afta_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}